# GraphQL Prisma server variables environment.

# Prisma proxy in docker network.
PRISMA_PROXY_ENDPOINT=http://prisma:4466

# Prisma endpoint in host machine.
PRISMA_ENDPOINT=http://localhost:4466

# Secret for Prisma application
PRISMA_SECRET=mysecret123
APP_SECRET=jwtsecret123