# Expo development environment

# EXPO_HOST can be: lan, tunnel, localhost
EXPO_HOST=tunnel

# Specify host machine ip in the lan/wifi network.
# This will apply on when EXPO_HOST is `lan`.
# REACT_NATIVE_PACKAGER_HOSTNAME=192.168.1.2